<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guizhou.platform.certificate.mapper.CertificateTemplateMapper">

    <resultMap id="BaseResultMap" type="com.guizhou.platform.certificate.entity.CertificateTemplate">
        <id column="id" property="id"/>
        <result column="template_code" property="templateCode"/>
        <result column="template_name" property="templateName"/>
        <result column="certificate_type" property="certificateType"/>
        <result column="template_content" property="templateContent"/>
        <result column="style_config" property="styleConfig"/>
        <result column="field_config" property="fieldConfig"/>
        <result column="sign_config" property="signConfig"/>
        <result column="seal_config" property="sealConfig"/>
        <result column="version" property="version"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, template_code, template_name, certificate_type, template_content, style_config,
        field_config, sign_config, seal_config, version, status, remark,
        create_by, create_time, update_by, update_time, deleted
    </sql>

</mapper>
