# ==============================================
# 依赖
# ==============================================
node_modules/
.pnpm-store/
.yarn/
.npm/

# ==============================================
# 环境变量
# ==============================================
.env.local
.env.*.local

# ==============================================
# 数据库
# ==============================================
data/*.sqlite
data/*.db
data/*.sqlite3

# ==============================================
# 日志
# ==============================================
logs/*.log
logs/*.txt
nohup.out

# ==============================================
# 构建产物
# ==============================================
dist/
build/
.output/
.next/
.nuxt/

# ==============================================
# 编辑器
# ==============================================
.vscode/
.idea/
*.swp
*.swo
*~

# ==============================================
# 系统
# ==============================================
.DS_Store
Thumbs.db
