<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.trae.may-89132.frontend</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/node</string>
    <string>/Users/chen/Documents/trae_projects/local_projects/may-89132/.trae/frontend-supervisor.mjs</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/chen/Documents/trae_projects/local_projects/may-89132</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>HOST</key>
    <string>127.0.0.1</string>
    <key>PORT</key>
    <string>59132</string>
    <key>VITE_HOST</key>
    <string>127.0.0.1</string>
    <key>VITE_PORT</key>
    <string>49132</string>
    <key>VITE_API_BASE_URL</key>
    <string>http://127.0.0.1:59132</string>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/chen/Documents/trae_projects/local_projects/may-89132/frontend.wrapper.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/chen/Documents/trae_projects/local_projects/may-89132/frontend.wrapper.log</string>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
