<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.may-89154.sleep</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sleep</string>
    <string>1000</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/chen/Documents/trae_projects/local_projects/may-89154/sleep.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/chen/Documents/trae_projects/local_projects/may-89154/sleep-error.log</string>
</dict>
</plist>
