<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.may-89244.frontend</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/chen/Documents/trae_projects/local_projects/may-89244/scripts/start-frontend.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/chen/Documents/trae_projects/local_projects/may-89244</string>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
