<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guizhou.platform.subsidy.mapper.SubsidyPolicyMapper">

    <resultMap id="BaseResultMap" type="com.guizhou.platform.subsidy.entity.SubsidyPolicy">
        <id column="id" property="id"/>
        <result column="policy_code" property="policyCode"/>
        <result column="policy_name" property="policyName"/>
        <result column="policy_type" property="policyType"/>
        <result column="policy_status" property="policyStatus"/>
        <result column="department" property="department"/>
        <result column="department_code" property="departmentCode"/>
        <result column="total_budget" property="totalBudget"/>
        <result column="granted_amount" property="grantedAmount"/>
        <result column="remaining_budget" property="remainingBudget"/>
        <result column="subsidy_standard" property="subsidyStandard"/>
        <result column="subsidy_unit" property="subsidyUnit"/>
        <result column="grant_cycle" property="grantCycle"/>
        <result column="grant_cycle_unit" property="grantCycleUnit"/>
        <result column="eligibility_criteria" property="eligibilityCriteria"/>
        <result column="application_materials" property="applicationMaterials"/>
        <result column="effective_date" property="effectiveDate"/>
        <result column="expiry_date" property="expiryDate"/>
        <result column="review_process" property="reviewProcess"/>
        <result column="review_level" property="reviewLevel"/>
        <result column="description" property="description"/>
        <result column="attachment" property="attachment"/>
        <result column="publish_time" property="publishTime"/>
        <result column="publish_by" property="publishBy"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <update id="updateGrantedAmount">
        UPDATE subsidy_policy
        SET granted_amount = granted_amount + #{amount},
            remaining_budget = remaining_budget - #{amount},
            update_time = NOW()
        WHERE id = #{policyId} AND deleted = 0
    </update>

</mapper>
