<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guizhou.platform.subsidy.mapper.SubsidyGrantMapper">

    <resultMap id="BaseResultMap" type="com.guizhou.platform.subsidy.entity.SubsidyGrant">
        <id column="id" property="id"/>
        <result column="grant_no" property="grantNo"/>
        <result column="policy_id" property="policyId"/>
        <result column="policy_code" property="policyCode"/>
        <result column="policy_name" property="policyName"/>
        <result column="beneficiary_type" property="beneficiaryType"/>
        <result column="beneficiary_id" property="beneficiaryId"/>
        <result column="beneficiary_name" property="beneficiaryName"/>
        <result column="id_card" property="idCard"/>
        <result column="phone" property="phone"/>
        <result column="bank_account" property="bankAccount"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_code" property="bankCode"/>
        <result column="apply_amount" property="applyAmount"/>
        <result column="approved_amount" property="approvedAmount"/>
        <result column="granted_amount" property="grantedAmount"/>
        <result column="grant_status" property="grantStatus"/>
        <result column="apply_reason" property="applyReason"/>
        <result column="apply_materials" property="applyMaterials"/>
        <result column="review_opinion" property="reviewOpinion"/>
        <result column="approve_opinion" property="approveOpinion"/>
        <result column="reviewer_id" property="reviewerId"/>
        <result column="reviewer_name" property="reviewerName"/>
        <result column="review_time" property="reviewTime"/>
        <result column="approver_id" property="approverId"/>
        <result column="approver_name" property="approverName"/>
        <result column="approve_time" property="approveTime"/>
        <result column="grant_time" property="grantTime"/>
        <result column="transaction_no" property="transactionNo"/>
        <result column="remark" property="remark"/>
        <result column="blockchain_tx_hash" property="blockchainTxHash"/>
        <result column="risk_flag" property="riskFlag"/>
        <result column="risk_level" property="riskLevel"/>
        <result column="risk_desc" property="riskDesc"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <select id="getAverageReviewTime" resultType="java.math.BigDecimal">
        SELECT AVG(TIMESTAMPDIFF(MINUTE, create_time, review_time))
        FROM subsidy_grant
        WHERE deleted = 0 AND review_time IS NOT NULL AND create_time IS NOT NULL
    </select>

</mapper>
