<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guizhou.platform.datashare.mapper.ApiInfoMapper">

    <resultMap id="BaseResultMap" type="com.guizhou.platform.datashare.entity.ApiInfo">
        <id column="id" property="id"/>
        <result column="api_code" property="apiCode"/>
        <result column="api_name" property="apiName"/>
        <result column="api_version" property="apiVersion"/>
        <result column="api_desc" property="apiDesc"/>
        <result column="request_method" property="requestMethod"/>
        <result column="request_url" property="requestUrl"/>
        <result column="dept_code" property="deptCode"/>
        <result column="dept_name" property="deptName"/>
        <result column="datasource_code" property="datasourceCode"/>
        <result column="status" property="status"/>
        <result column="qps_limit" property="qpsLimit"/>
        <result column="need_auth" property="needAuth"/>
        <result column="need_desensitize" property="needDesensitize"/>
        <result column="request_param" property="requestParam"/>
        <result column="response_param" property="responseParam"/>
        <result column="request_example" property="requestExample"/>
        <result column="response_example" property="responseExample"/>
        <result column="publish_time" property="publishTime"/>
        <result column="offline_time" property="offlineTime"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, api_code, api_name, api_version, api_desc, request_method, request_url, dept_code,
        dept_name, datasource_code, status, qps_limit, need_auth, need_desensitize, request_param,
        response_param, request_example, response_example, publish_time, offline_time, remark,
        create_by, create_time, update_by, update_time, deleted
    </sql>

</mapper>
