<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guizhou.platform.datashare.mapper.DataDesensitizeRuleMapper">

    <resultMap id="BaseResultMap" type="com.guizhou.platform.datashare.entity.DataDesensitizeRule">
        <id column="id" property="id"/>
        <result column="rule_code" property="ruleCode"/>
        <result column="rule_name" property="ruleName"/>
        <result column="desensitize_type" property="desensitizeType"/>
        <result column="desensitize_strategy" property="desensitizeStrategy"/>
        <result column="field_name" property="fieldName"/>
        <result column="pattern" property="pattern"/>
        <result column="mask_char" property="maskChar"/>
        <result column="keep_left" property="keepLeft"/>
        <result column="keep_right" property="keepRight"/>
        <result column="replace_value" property="replaceValue"/>
        <result column="encrypt_key" property="encryptKey"/>
        <result column="hash_algorithm" property="hashAlgorithm"/>
        <result column="api_id" property="apiId"/>
        <result column="api_code" property="apiCode"/>
        <result column="sort" property="sort"/>
        <result column="enabled" property="enabled"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, rule_code, rule_name, desensitize_type, desensitize_strategy, field_name, pattern,
        mask_char, keep_left, keep_right, replace_value, encrypt_key, hash_algorithm, api_id,
        api_code, sort, enabled, remark, create_by, create_time, update_by, update_time, deleted
    </sql>

</mapper>
