<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.pinai.may89138.backend</string>
  <key>WorkingDirectory</key>
  <string>/Users/chen/Documents/trae_projects/local_projects/may-89138</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-f</string>
    <string>/Users/chen/Documents/trae_projects/local_projects/may-89138/scripts/start-backend.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>NODE_ENV</key>
    <string>development</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/chen/Documents/trae_projects/local_projects/may-89138/backend.launchd.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/chen/Documents/trae_projects/local_projects/may-89138/backend.launchd.log</string>
</dict>
</plist>
